/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body */
body {
    font-family: 'Garamond', 'Times New Roman', serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Header styling */
header {
    background: #4f7b51; /* Green background */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

/* Main content styling */
main {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, select, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4f7b51;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #617962;
}

/* Results styling */
#results {
    margin-top: 20px;
}

/* Additional styling for results text */
.results-text {
    font-size: 1.5em; /* Adjust the font size as needed */
    margin: 10px 0;   /* Add some margin for better spacing */
}

/* Additional styling for bold text */
.bold-text {
    font-weight: bold;
}
